<div class="footer_bar   ">
    <div class="footer_bar_wrapper ">
        <div class="menu-main-menu-container">
            <ul id="footer_menu" class="footer_nav">
                <li class="menu-item"><a href="spaces-kitchen.html">Kitchen</a></li>
                <li class="menu-item"><a href="spaces-dining-tables.html">Dining</a></li>
                <li class="menu-item"><a href="#">Living</a></li>
                <li class="menu-item"><a href="#">Wall Systems</a></li>
            </ul>
        </div>
        <div id="copyright">© Copyright The New Standard 2025 - Develop by <a class="text-light"
                href="https://aeroer.live/" target="_blank"> Aeroer.Live</a>. All Rights Reserved.</div>
        <br class="clear">
    </div>
</div>
<input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="1">
<input type="hidden" id="tg_sidebar_sticky" name="tg_sidebar_sticky" value="1">
<input type="hidden" id="pp_topbar" name="pp_topbar" value="">

