<div class="header_style_wrapper">
    <div class="top_bar hasbg">
        <div class="standard_wrapper">
            <div id="logo_wrapper">
                <div id="logo_normal" class="logo_container">
                    <div class="logo_align">
                        <a id="custom_logo" class="logo_wrapper hidden" href="index.html">
                            <img src="images/The_New_Standard_Logo.png" alt="The New Standard Logo"
                                width="183" height="48">
                        </a>
                    </div>
                </div>
                <div id="logo_transparent" class="logo_container">
                    <div class="logo_align">
                        <a id="custom_logo_transparent" class="logo_wrapper default" href="index.html">
                            <img src="images/The_New_Standard_Logo.png" alt="The New Standard Logo"
                                width="183" height="48">
                        </a>
                    </div>
                </div>
                <div id="menu_wrapper">
                    <div id="nav_wrapper">
                        <div class="nav_wrapper_inner">
                            <div id="menu_border_wrapper">
                                <div class="menu-main-menu-container">
                                    <ul id="main_menu" class="nav">
                                        <li class="menu-item menu-item-has-children arrow"><a
                                                href="#">Spaces</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="spaces-kitchen.html"><span
                                                            class="subunder">- </span>Kitchen</a></li>
                                                <li class="menu-item menu-item-has-children arrow"><a
                                                        href="spaces-dining.html"><span
                                                            class="subunder">- </span>Dining</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="spaces-dining-tables.html"><span
                                                                    class="subunder">- </span>Tables</a></li>
                                                        <li class="menu-item"><a href="#"><span
                                                                    class="subunder">- </span>Chairs (Coming Soon)</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow"><a
                                                        href="#"><span
                                                            class="subunder">- </span>Living</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="#"><span
                                                                    class="subunder">- </span>Sofa (Coming Soon)</a></li>
                                                        <li class="menu-item"><a href="#"><span
                                                                    class="subunder">- </span>Rocks (Coming Soon)</a></li>
                                                        <li class="menu-item"><a href="#"><span
                                                                    class="subunder">- </span>Vintage (Coming Soon)</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item"><a href="#"><span
                                                            class="subunder">- </span>Bedroom (Coming Soon)</a></li>
                                                <li class="menu-item"><a href="#"><span
                                                            class="subunder">- </span>Well Systems (Coming Soon)</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="projects.html">Projects</a></li>
                                        <li class="menu-item"><a href="about.html">About</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

